@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  @apply bg-[#131618] text-white overflow-hidden overflow-y-scroll;
}

@font-face {
  font-family: Nunito-Black;
  src: url("../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: Panchang-Extrabold;
  src: url("../assets/fonts/Panchang-Extrabold.woff");
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}